{% extends "base.html" %}
{% load i18n chords_tags %}

{% block media %}
{{ block.super }}
{% endblock %}

{% block title %}{% trans "Artist" %} "{{ object.name }}"{% endblock %}

{% block content %}
<div class="chords">
  <p class="navigation">
  <span class="item"><a href="/admin/chords/artist/{{ object.id }}">{% trans "Manage artist" %}</a></span>
  <span class="item"><a href="{% url chords:view-artists %}">{% trans "View Artists" %}</a></span>
  <span class="item"><a href="{% url chords:view-songs %}">{% trans "View Songs" %}</a></span>
  <span class="item"><a href="{% url chords:view-collections %}">{% trans "View Collections" %}</a></span>
  </p>
  <p class="title">{% trans "Available Songs for" %} "{{ object.name }}"</p>

  {% ifnotequal pages.paginator.num_pages 1 %}
  <p class="pagination">pages: {% chords_paginator pages %}</p>
  {% endifnotequal %}

  <table class="songs">
    <tr>
      <th>{% trans "Shortcuts" %}</th>
      <th>{% trans "Title" %} {% chords_sorter "title" %}</th>
      <th>{% trans "Tone" %} {% chords_sorter "tone" %}</th>
      <th>{% trans "Updated" %} {% chords_sorter "updated" %}</th>
    </tr>
    {% for obj in pages.object_list %}
    <tr class="{% cycle "even" "odd" %}">
      <td class="shortcuts">
        <a href="{% url chords:view-song obj.id %}" title="{% trans "view this song" %}"><img src="http://media.andreanjos.org/icons/tango/16x16/actions/go-home.png" width="16" height="16"/></a>
        <a href="{% url chords:view-song-text obj.id %}" title="{% trans "view original text file" %}"><img src="http://media.andreanjos.org/icons/tango/16x16/mimetypes/text-x-generic.png" width="16" height="16"/></a>
        <a href="{% url admin:chords_song_change obj.id %}" title="{% trans "edit this song" %}"><img src="http://media.andreanjos.org/icons/tango/16x16/apps/accessories-text-editor.png" width="16" height="16"/></a>
      </td>
      <td class="title"><a href="{% url chords:view-song obj.id %}" title="{% trans "Click here to access this song" %}">{{ obj.title }}</a></td>
      <td class="tone">{{ obj.get_tone_display }}</td>
      <td class="date">{{ obj.updated|date:"D, d/b/Y H:i T" }} {% trans "by" %} {{ obj.user.first_name.capitalize }}</td>
    </tr>
    {% empty %}
    <tr><td colspan="5">{% trans "No songs uploaded so far." %}</td></tr>
    {% endfor %}
  </table>

</div>
{% endblock %}
