{% extends "base.html" %}
{% load i18n chords_tags %}

{% block media %}
{{ block.super }}
  <link href="{% url media "chords/css/style.css" %}" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block title %}{% trans "Collection" %} "{{ object.name }}"{% endblock %}

{% block content %}
<div class="chords">
  <p class="navigation">
  <span class="item"><a href="{% url admin:chords_collection_change object.id %}">{% trans "Manage collection" %}</a></span>
  <span class="item"><a href="{% url chords:view-collections %}">{% trans "View Collections" %}</a></span>
  <span class="item"><a href="{% url chords:view-artists %}">{% trans "View Artists" %}</a></span>
  <span class="item"><a href="{% url chords:view-songs %}">{% trans "View Songs" %}</a></span>
  </p>
  <p class="title">{% trans "Available Songs at collection" %} "{{ object.name }}" <a href="{% url chords:view-collection-songbook-pdf object.id %}{{ getreq }}" title="{% trans "download all songs available at this collection in PDF format" %}"><img src="{% url media "chords/img/icons/16x16/pdf.png" %}" width="16" height="16"/></a></p> 
  
  <p>{% blocktrans count object_list.count as counter %}From this page you have access to the single uploaded song{% plural %}From this page you have access to all {{ counter }} uploaded songs{% endblocktrans %} {% trans "in collection" %} "{{ object.name }}".</p>

  <table class="songs">
    <tr>
      <th>{% trans "Shortcuts" %}</th>
      <th>{% trans "Title" %} {% chords_sorter "title" %}</th>
      <th>{% trans "Performer" %} {% chords_sorter "performer.name" %}</th>
      <th>{% trans "Composer" %} {% chords_sorter "composer.name" %}</th>
      <th>{% trans "Tone" %} {% chords_sorter "tone" %}</th>
      <th>{% trans "Updated" %} {% chords_sorter "updated" %}</th>
    </tr>
    {% for obj in object_list %}
    <tr class="{% cycle "even" "odd" %}">
      <td class="shortcuts">
        <a href="{% url chords:view-song obj.id %}" title="{% trans "view this song" %}"><img src="{% url media "chords/img/icons/16x16/home.png" %}" width="16" height="16"/></a>
        <a href="{% url chords:view-song-pdf obj.id %}" title="{% trans "download song in PDF format" %}"><img src="{% url media "chords/img/icons/16x16/pdf.png" %}" width="16" height="16"/></a>
        <a href="{% url chords:view-song-text obj.id %}" title="{% trans "view original text file" %}"><img src="{% url media "chords/img/icons/16x16/text.png" %}" width="16" height="16"/></a>
        <a href="{% url admin:chords_song_change obj.id %}" title="{% trans "edit this song" %}"><img src="{% url media "chords/img/icons/16x16/edit.png" %}" width="16" height="16"/></a>
      </td>
      <td class="title"><a href="{% url chords:view-song obj.id %}" title="{% trans "Click here to access this song" %}">{{ obj.title }}</a></td>
      <td class="performer">{{ obj.performer.name }}</td>
      <td class="composer">{{ obj.composer.name }}</td>
      <td class="tone">{{ obj.get_tone_display }}</td>
      <td class="date">{{ obj.updated|date:"d/b/Y H:i" }}, {{ obj.user.first_name.capitalize }}</td>
    </tr>
    {% empty %}
    <tr><td colspan="5">{% trans "No songs uploaded so far." %}</td></tr>
    {% endfor %}
  </table>

</div>
{% endblock %}
