{% load i18n %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

  <head>
    <title>{{ object.title }} {% trans "in" %} {{ object.get_tone_display }}</title>
    <link href="{% url media "chords/css/style.css" %}" rel="stylesheet" type="text/css" media="screen" />
  </head>

  <body>
    <div class="chords">

      <div class="info-bar">
        <span class="actions">{% trans "actions: " %}
          <a href="{% url chords:view-song-pdf object.id %}" title="{% trans "download song in PDF format" %}"><img src="{% url media "chords/img/icons/16x16/pdf.png" %}" width="16" height="16"/></a>
          <a href="{% url chords:view-song-text object.id %}" title="{% trans "view original text file" %}"><img src="{% url media "chords/img/icons/16x16/text.png" %}" width="16" height="16"/></a>
          <a href="{% url admin:chords_song_change object.id %}" title="{% trans "edit this song" %}"><img src="{% url media "chords/img/icons/16x16/edit.png" %}" width="16" height="16"/></a>
        </span>
        <span class="revision-info"><img src="{% url media "chords/img/icons/16x16/ok.png" %}" alt="[v]"/> {% trans "Last revision by" %} <span class="revision-author">{{ object.user.first_name.capitalize }}</span> {% trans "on" %} <span class="revision-author">{{ object.updated|date:"l, d/b/Y" }}</span></span>
      </div>


      <table class="info">
      <tr>
        <td><span class="performer-simple-picture" style="border-color: #{{ object.performer.color }}"><a href="{% url chords:view-artist object.performer.id %}" title="{% trans "Click here to view other songs by this artist." %}"><img src="{{ object.performer.image.url }}" width="60" height="80" alt="[{% trans "photo of " %} {{ object.performer.name }}]"/></a></span></td>
        <td><p class="title">{{ object.title }} (<font style="color: #{{ object.performer.color }}">{{ object.performer.name }}</font>)</p>
          <p class="tone">{% trans "Tone" %}: {{ object.get_tone_display }}</p>
        </td>
      </tr>
      </table>

      {% if object.two_columns %}
      {% with object.items_by_column as column %}
      <table class="two_columns">
        <tr>
          <td id="column_1">
            <pre class="song">{% autoescape off %}{% for i in column.0 %}{{ i.as_html }}{% endfor %}{% endautoescape %}</pre>
          </td>
          <td class="separator" style="background-color: #{{ object.performer.color }}"></td>
          <td id="column_2">
            <pre class="song">{% autoescape off %}{% for i in column.1 %}{{ i.as_html }}{% endfor %}{% endautoescape %}</pre>
          </td>
        </tr>
      </table>
      {% endwith %}
      {% else %}
      <pre class="song">{% autoescape off %}{% for i in object.items %}{{ i.as_html }}{% endfor %}{% endautoescape %}</pre>
      {% endif %}

    </div>
  </body>

</html>
