{% load i18n %}
<span class="sorter">
  <a href="?o=-{{ what }}">
    <img src="http://media.andreanjos.org/icons/tango/16x16/actions/go-up.png" title="{% blocktrans with what as what %}Sort by {{ what }} (ascending){% endblocktrans %}" alt="[a]" width="12" height="12">
  </a> 
  <a href="?o={{ what }}">
    <img src="http://media.andreanjos.org/icons/tango/16x16/actions/go-down.png" title="{% blocktrans with what as what %}Sort by {{ what }} (descending){% endblocktrans %}" alt="[d]" width="12" height="12">
  </a>
</span>

