/* how chords admin fields behave */

textarea.song-field-admin {
  width: 80em;
	padding: 5px;
	font-family: "Andale Mono", "Monaco", "Courier New", monospace; 
  font-size: 1.2em;
  height: 50em;
  background-color: #ddd; 
  color: #333;
}

textarea.song-field-admin:focus {
}

.convert-button  {
  width: 4em;
  height: 1.5em;
  background-color: #700;
  color: #fff;
  border: 2px #500 solid;
  padding: 3px;
}

.convert-button a {
  color: #fff;
}
